@media (max-width:400px) {
    .text-container {
        display: block;
        gap: 32px;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    
    }
    .image-flex {
        box-sizing: border-box;
        
    } 
}
@media (min-width:600px){
    .text-container {
        display: flex;
        gap: 32px;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    
    }
}